<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Form Controls | BlueWhale Admin</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="/static/css/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/static/css/ie.css" media="screen" /><![endif]-->
    <link href="/static/css/fancy-button/fancy-button.css" rel="stylesheet" type="text/css" />
    <!--Jquery UI CSS-->
    <link href="/static/css/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN: load jquery -->
    <script src="/static/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/jquery-ui/jquery.ui.core.min.js"></script>
    <script src="/static/js/jquery-ui/jquery.ui.widget.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.ui.accordion.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.effects.core.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.effects.slide.min.js" type="text/javascript"></script>
    <!-- END: load jquery -->
    <!--jQuery Date Picker-->
    <script src="/static/js/jquery-ui/jquery.ui.widget.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.ui.datepicker.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.ui.progressbar.min.js" type="text/javascript"></script>
    <!-- jQuery dialog related-->
    <script src="/static/js/jquery-ui/external/jquery.bgiframe-2.1.2.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.ui.mouse.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.ui.draggable.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.ui.position.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.ui.resizable.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.ui.dialog.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.effects.core.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.effects.blind.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.effects.explode.min.js" type="text/javascript"></script>
    <!-- jQuery dialog end here-->
    <script src="/static/js/jquery-ui/jquery.ui.accordion.min.js" type="text/javascript"></script>
    <!--Fancy Button-->
    <script src="/static/js/fancy-button/fancy-button.js" type="text/javascript"></script>
    <script src="/static/js/setup.js" type="text/javascript"></script>
    <!-- Load TinyMCE -->
    <script src="/static/js/tiny-mce/jquery.tinymce.js" type="text/javascript"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/static/bootstrap-3.3.5-dist/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="/static/bootstrap-3.3.5-dist/jquery-1.6.4.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {
            setupTinyMCE();
            setupProgressbar('progress-bar');
            setDatePicker('date-picker');
            setupDialogBox('dialog', 'opener');
            $('input[type="checkbox"]').fancybutton();
            $('input[type="radio"]').fancybutton();
        });

        function Progress() {
            //alert("hrewr");

            p = document.getElementById("progress1");
            for (var i = 1; i <= 110; i = i + 10) {


            p.innerHTML = i+'%';
        }
            //alert(p.value);

        }
        $('#progressbar').progressbar({

    maximum: 100,
    step: 5
});
        function aa(){
            ;
            //setInterval(Progress, 2000);
        }
    </script>
    <!-- /TinyMCE -->
    <style type="text/css">
        #progress-bar
        {
            width: 400px;
        }
    </style>
</head>
<body>
    <div class="container_12">
        <div class="grid_12 header-repeat">
            <div id="branding">
                <div class="floatleft">
                    <img src="/static/img/logo.png" alt="Logo" /></div>
                <div class="floatright">
                    <div class="floatleft">
                        <img src="/static/img/img-profile.jpg" alt="Profile Pic" /></div>
                    <div class="floatleft marginleft10">
                        <ul class="inline-ul floatleft">
                            <li>Hello Admin</li>
                            <li><a href="#">Config</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                        <br />
                        <span class="small grey">Last Login: 3 hours ago</span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="grid_12">
          <ul class="nav main">
                <li class="ic-dashboard"><a href="{% url 'JumpToIndex' %}"><span>Home Page</span></a> </li>
                <li class="ic-form-style"><a href="javascript:"><span>File Management</span></a>
                    <ul>
                        <li><a href="{% url 'file_show' '1' %}">Show Files</a> </li>
                        <li><a href="{% url 'file_upload' %}">Add Files</a> </li>
                    </ul>
                </li>
                <li class="ic-grid-tables"><a href="{% url 'file_show' '1' %}"><span>Data Table</span></a></li>
                <li class="ic-gallery dd"><a href="javascript:"><span>Router Management</span></a>
               		 <ul>
                        <li><a href="image-gallery.html">Add New Router</a> </li>
                        <li><a href="gallery-with-filter.html">Show Routers Infomation</a> </li>
                    </ul>
                </li>
                <li class="ic-notifications"><a href="notifications.html"><span>User Management</span></a></li>

            </ul>
        </div>
        <div class="clear">
        </div>
        <div class="grid_12">
            <div class="box round first fullpage">
                <h2>
                    Files Adding</h2>
                <div class="block ">
                       <form action="{% url 'file_upload' %}" enctype="multipart/form-data" method="post">
			<p><strong>UpLoad Configuration Files：</strong><input type="file" class="" name="multifile" id="multifile" multiple size="80"/><span>                                          </span>
                <input type="hidden"  id="MyFileList" name="MyFileList" value=""/>
                <!--<input type="button" class="" onclick="$('#progressbar').progressbar('stepIt');$('#progressbar').progressbar('setPosition', 85);" value="OK" />-->
                <input type="submit" class=""  onclick="Progress()" value="upload" /></p>



                           {% if NumofFiles > 0 %}<span class="req">The {{ NumofFiles }} files</span>
									<label>are uploaded successfully!<span>(The details are as follows:)</span></label>
                              {% else %}<span class="req">Please Input the Files</span>


                       {% endif %}
            <table width="100%" height="100%" border="1" align="center" cellpadding="0" cellspacing="0" class="warning" >
<tr><td width="200" height="50" align="left" valign="top"><div id="Layer1">
{%for each in FileList %}{{ each }}<br><br>{% endfor %}

    </div></td></tr></table>

                        <tr>
                            <td>
                                <label>
                                    Progress Bar</label>
                            </td>
                        </tr>

 <div class="progress">
    <div id="progressbar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" style="width:10%">
      10%
    </div>
  </div>



                    </form>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
    <div id="site_info">
        <p>
            <a href="#">HWCMS_V1</a>. All Rights Reserved.
        </p>
    </div>
</body>
</html>
