<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Free CSS template</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
</head>
<script language="javascript">
    function aa(){
        //alert("afadsfasfsdfasfds");
        var r=document.getElementsByName("strName");
        //alert(0 < r.length);
        for(var i=0;i < r.length;i++){
         if(!r[i].checked){
             r[i].onclick="return false";
             //alert(r[i].nextSibling);
             todel= document.getElementsByName("FileName");
             todel.item(i).value="fsf";
             //alert(todel.item(i).value);
         //alert(r[i].value+","+r[i].nextSibling.nodeValue);
         }
        }
    }



    //----------------------------------------------------------------------
    function pageInit(){
    var vsCaption= window.dialogArguments;
    if (vsCaption!= null) CaptionTD.innerText= vsCaption;
    window.returnValue= null;
    }
//----------------------------------------------------------------------
    function OKButton_Click(){
    window.returnValue= textPath.value;
    window.close();
    }
//----------------------------------------------------------------------
function CancelButton_Click(){
  window.returnValue= null;
  window.close();
}
//----------------------------------------------------------------------
function chooseFolder(){
    var savePath;
    var objSrc = new ActiveXObject("Shell.Application").BrowseForFolder(0,'请选择文件夹目录：',   0,   '');
    if(objSrc != null){
    savePath = objSrc.Items().Item().Path;
    document.all.savePath.value = savePath;
    }
 }




      function  handleFiles(files)
  {
    if(files.length)
    {
       var file = files[0];
       var reader = new FileReader();
       reader.onload = function()
       {
           document.getElementById("filecontent").innerHTML = this.result;
       };
       reader.readAsText(file);
    }
  }


  function showFileName1(){
      //alert("HELLO");

    alert("File SeLected Successfully!");
    document.getElementById("MyFileList").value = "";
    var file;
    //取得FileList取得的file集合
    for(var i = 0 ;i<document.getElementById("multifile").files.length;i++){
        //file对象为用户选择的某一个文件
        file=document.getElementById("multifile").files[i];
        //此时取出这个文件进行处理，这里只是显示文件名

        //alert("HAHA111111111111111111START");

        //alert(typeof(file.getParent.fold));
        //alert(file.path.value);
        //alert(fin1.value);
        //alert(document.getElementById("MyFileList").value);

        document.getElementById("MyFileList").value = document.getElementById("MyFileList").value+'###'+file.name;
        //fin1.setValue(file.name);
        //alert(document.getElementById("MyFileList").value);
        //alert("HAHA11111111111111111111END");


    }
 }
  function showFileName2(){
      //alert("HELLO");

    //alert(" FileList Demo222222222222222222:");
     var fin1=document.getElementById("MyFileList");
     var file;
    //取得FileList取得的file集合
    for(var i = 0 ;i<document.getElementById("multifile").files.length;i++){
        //file对象为用户选择的某一个文件
        file=document.getElementById("multifile").files[i];
        //此时取出这个文件进行处理，这里只是显示文件名
        //alert("HAHA2222222222START");
        //alert(file.name);
        //alert(fin1.value);
        //alert(document.getElementById("MyFileList").value);

        //document.getElementById("MyFileList").value = file.name;
        //fin1.setValue(file.name);

        //alert(document.getElementById("MyFileList").value);
        //alert("HAHA22222222222222END");


    }
 }




    function bb()
    {
        //alert("fff");

           var f=document.getElementsByName("strName");
        alert(f);
            alert(f.name);
        //alert("BBBBB");

    }
        function SetArticleId(o, i) {
      if (o.checked) {
        AddCookie(i)
      }
      else {
        RemoveCookie(i)
      }
    }
    function SetCookie(name, value) {
      document.cookie = name + "=" + escape(value);
    }
    function GetCookie(name) {
      if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf(name + "=");
        if (c_start != -1) {
          c_start = c_start + name.length + 1;
          c_end = document.cookie.indexOf(";", c_start);
          if (c_end == -1) c_end = document.cookie.length;
          return (document.cookie.substring(c_start, c_end));
        }
      }
      return "";
    }
    function AddCookie(i) {
      d = GetCookie("ArticleId");
      if (d == "") d = "|";
      if (d.indexOf("|" + i + "|") == -1) {
        d += i + "|";
        SetCookie("ArticleId", d);
      }
    }
    function RemoveCookie(i) {
      d = GetCookie("ArticleId");
      var reg = new RegExp("\\|" + i + "\\|");
      if (reg.test(d)) {
        d = d.replace(reg, "|");
        SetCookie("ArticleId", d);
      }
    }

</script>

<body>
<!-- Header -->




<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
			<h1><a href="{% url 'JumpToIndex' %}">Configuration Files Management</a></h1>
			<div id="top-navigation">
				Welcome <a href="#"><strong>Administrator</strong></a>
				<span>|</span>
				<a href="#">Help</a>
				<span>|</span>
				<a href="#">Profile Settings</a>
				<span>|</span>
				<a href="#">Log out</a>
			</div>
		</div>
		<!-- End Logo + Top Nav -->
		
		<!-- Main Nav -->
		<div id="navigation">
			<ul>
			    <li><a href="{% url 'JumpToIndex' %}" class="active"><span>Dashboard</span></a></li>
			    <li><a href="#"><span>New Files</span></a></li>
			    <li><a href="#"><span>User Management</span></a></li>
			    <li><a href="#"><span>Rules Gallery</span></a></li>
			    <li><a href="#"><span>Routers</span></a></li>
			    <li><a href="#"><span>Services Control</span></a></li>
			</ul>
		</div>
		<!-- End Main Nav -->
	</div>
</div>
<!-- End Header -->



<table border="0" width="100%">




</table>















<!-- Container -->
<div id="container">
	<div class="shell">
		
		<!-- Small Nav -->
		<div class="small-nav">
			<a href="#">Dashboard</a>
			<span>&gt;</span>
			Current Files
		</div>
		<!-- End Small Nav -->
		
		<!-- Message OK -->		
		<div class="msg msg-ok1">


              <form action="{% url 'file_upload' %}" enctype="multipart/form-data" method="post">
			<p><strong>UpLoad Configuration Files：</strong><input type="file" class="button" name="multifile" id="multifile" multiple size="80"/><span>                                          </span>
                <input type="hidden"  id="MyFileList" name="MyFileList" value=""/>
                <input type="hidden" class="button" onclick="showFileName1()" value="OK" />
                <input type="submit" class="button"  value="upload" /></p>

              </form>
			
		</div>
		<!-- End Message OK -->		
		
		<!-- Message Error -->

		<!-- End Message Error -->
		<br />
		<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
				
				<!-- Box -->

				<div class="box">
					<!-- Box Head -->
                <form action="{% url 'file_show' '1' %}" method="post" >
					<div class="box-head">
						<h2 class="left">Current Router Files</h2>
						<div class="right">
							<label>search routers</label>
							<input type="text" name="FilterName" class="field small-field" value="Filename" />
                            <input type="text" name="FilterDate" class="field small-field" value="Y/Y-M/Y-M-D"/>
                            <input type="text" name="FilterType" class="field small-field" value=".suffix"/>
							<input type="submit" class="button" value="filter" />
						</div>
					</div>
                </form>
					<!-- End Box Head -->	
                    <form action="{% url 'rule_generate' %}" method="post" >

					<!-- Table -->
					<div class="table">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr class="odd">
								<th width="13"><input type="checkbox"  class="checkbox" /></th>
								<th>FileName</th>
								<th>FileDate</th>
								<th>FileType</th>
								<th width="110" class="ac">Last Edit By</th>
							</tr>
                            {%for eachlist1 in TheTopList%}
							<tr>
								<td><input onclick="bb()" type="checkbox" class="checkbox" name="strName" id="{{ eachlist1.filename }}" /></td>
                                <td><input type="hidden"  name="FileName" value="{{ eachlist1.filename }}"/>
								<h3>{{ eachlist1.filename }}</h3></td>
								<td>{{ eachlist1.filedate }}</td>
								<td>{{ eachlist1.filetype }}</td>

                                <td>
                                <form action="{% url 'file_delete' CurrentPage %}" method="post">
								<input type="hidden"  name="FileNameToDelete" value="{{ eachlist1.filename }}"/>
                                    <input type="hidden"  name="FileCheckToDelete" checked="{{ eachlist1.check }}"/>
                                    <input type="submit" name="deletedfile" class="ico del" value="Delete">
                                    <a href="#" class="ico edit">Edit</a>
                                </form>
                                </td>

                            </tr>
                            {%endfor%}


							<tr class="odd">
								<td><input type="hidden" class="checkbox" /></td>
								<td><h3><a href="#">welcome to this system!</a></h3></td>
								<td>2015-07-22</td>
								<td><a href="#"></a></td>
                                <td><a href="#">Administrator</a></td>
							</tr>
						</table>
						
						
						<!-- Pagging -->
						<div class="pagging">
							<div class="left">Showing 1-{{ DataGridPageSize }} of {{ lengthofmylist }}</div>
							<div class="right">
                            {%  if PreviousPage > 0 %}
								<a href="{% url 'file_show' PreviousPage %}">Previous</a>
                            {% endif %}
                                {% for t in PagesList%}
								<a href="{% url 'file_show' t  %}">{{ t }}</a>

                                {% endfor %}
								<span>...</span>
                                {% if NextPage <= Pages%}
								<a href="{% url 'file_show' NextPage %}">Next</a>
                                {% endif %}

								<a href="#">View all</a>
                                <span>  </span>
                            {% if NextPage > 0%}
                                <div class="right"><span>  </span><input type="submit" onclick="aa()" class="button" value="Generate Rules"></div>
                                {% endif %}


							</div>
						</div>
						<!-- End Pagging -->




						<div class="pagging">
							<div class="left"> Pattern : <input type="text" name="strPattern"/> </div>







                        <div class="left">  MinSupp: <span>      </span><input type="text" name="paraMinSupp" value="0.7" /></div>
                        <div class="left">  MinCond: <span>      </span><input type="text" name="paraMinCond" value="0.8"/></div>

                            <div class="left">   MinLift    : <input type="text" name="paraMinLift" value="0.01"/></div>

                        <div class="left">    MinKulc: <span>      </span><input type="text" name="paraMinKulc" value="0.01"/><span>      </span></div>
                        <div class="left">     ThreshIR: <input type="text" name="paraThreshIR" value="100"/></div>



							</div>


					</div>
					<!-- Table -->
					</form>
				</div>
				<!-- End Box -->
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2>Add New Router Files</h2>
					</div>
					<!-- End Box Head -->
					
					<form action="" method="post">
						
						<!-- Form -->
						<div class="form">
								<p>
									<span class="req">max 100 symbols</span>
									<label>Router Name <span>(Required Field)</span></label>
									<input type="text" class="field size1" />
								</p>	
								<p class="inline-field">
									<label>File Date</label>
									<select class="field size2">
										<option value="">23</option>
									</select>
									<select class="field size3">
										<option value="">July</option>
									</select>
									<select class="field size3">
										<option value="">2009</option>
									</select>
								</p>
								
								<p>
									<span class="req">max 100 symbols</span>
									<label>Content <span>(Required Field)</span></label>
									<textarea class="field size1" rows="10" cols="30"></textarea>
								</p>	
							
						</div>
						<!-- End Form -->
						
						<!-- Form Buttons -->
						<div class="buttons">
							<input type="button" class="button" value="save" />
							<input type="submit" class="button" value="detect" />
						</div>
						<!-- End Form Buttons -->
					</form>
				</div>
				<!-- End Box -->

			</div>
			<!-- End Content -->
			
			<!-- Sidebar -->
			<div id="sidebar">
				
				<!-- Box -->
				<div class="box">
					
					<!-- Box Head -->
					<div class="box-head">
						<h2>Management</h2>
					</div>
					<!-- End Box Head-->
					
					<div class="box-content">
						<a href="#" class="add-button"><span>Add new </span></a>
						<div class="cl">&nbsp;</div>
						
						<p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
						<p><a href="#">Delete Selected</a></p>
						
						<!-- Sort -->
						<div class="sort">
							<label>Sort by</label>
							<select class="field">
								<option value="">RouterName</option>
							</select>
							<select class="field">
								<option value="">Date</option>
							</select>
							<select class="field">
								<option value="">RouterType</option>
							</select>
						</div>
						<!-- End Sort -->
						
					</div>
				</div>
				<!-- End Box -->
			</div>
			<!-- End Sidebar -->
			
			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
		<span class="left">&copy; 2015 - Django Framwork For HuaWei Configuration</span>
		<span class="right">
			Design by <a href="http://www.mycodes.net" target="_blank" title="The Sweetest CSS Templates WorldWide">City University of Hong Kong</a>
		</span>
	</div>
</div>
<!-- End Footer -->

</body>
</html>