<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Free CSS template</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
</head>
<script language="javascript">
    function aa(){
        //alert("afadsfasfsdfasfds");
        var r=document.getElementsByName("strName");
        //alert(0 < r.length);
        for(var i=0;i < r.length;i++){
         if(!r[i].checked){
             r[i].onclick="return false";
             //alert(r[i].nextSibling);
             todel= document.getElementsByName("FileName");
             todel.item(i).value="fsf";
             //alert(todel.item(i).value);
         //alert(r[i].value+","+r[i].nextSibling.nodeValue);
         }
        }
    }
    function bb()
    {


        alert("BBBBB");

    }
        function SetArticleId(o, i) {
      if (o.checked) {
        AddCookie(i)
      }
      else {
        RemoveCookie(i)
      }
    }
    function SetCookie(name, value) {
      document.cookie = name + "=" + escape(value);
    }
    function GetCookie(name) {
      if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf(name + "=");
        if (c_start != -1) {
          c_start = c_start + name.length + 1;
          c_end = document.cookie.indexOf(";", c_start);
          if (c_end == -1) c_end = document.cookie.length;
          return (document.cookie.substring(c_start, c_end));
        }
      }
      return "";
    }
    function AddCookie(i) {
      d = GetCookie("ArticleId");
      if (d == "") d = "|";
      if (d.indexOf("|" + i + "|") == -1) {
        d += i + "|";
        SetCookie("ArticleId", d);
      }
    }
    function RemoveCookie(i) {
      d = GetCookie("ArticleId");
      var reg = new RegExp("\\|" + i + "\\|");
      if (reg.test(d)) {
        d = d.replace(reg, "|");
        SetCookie("ArticleId", d);
      }
    }

</script>

<body>
<!-- Header -->
<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
			<h1><a href='http://localhost:8000/index/'>Configuration Files Management</a></h1>
			<div id="top-navigation">
				Welcome <a href="#"><strong>Administrator</strong></a>
				<span>|</span>
				<a href="#">Help</a>
				<span>|</span>
				<a href="#">Profile Settings</a>
				<span>|</span>
				<a href="#">Log out</a>
			</div>
		</div>
		<!-- End Logo + Top Nav -->
		
		<!-- Main Nav -->
		<div id="navigation">
			<ul>
			    <li><a href="http://localhost:8000/index/" class="active"><span>Dashboard</span></a></li>
			    <li><a href="#"><span>New Files</span></a></li>
			    <li><a href="#"><span>User Management</span></a></li>
			    <li><a href="#"><span>Rules Gallery</span></a></li>
			    <li><a href="#"><span>Routers</span></a></li>
			    <li><a href="#"><span>Services Control</span></a></li>
			</ul>
		</div>
		<!-- End Main Nav -->
	</div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
	<div class="shell">
		
		<!-- Small Nav -->
		<div class="small-nav">
			<a href="#">Dashboard</a>
			<span>&gt;</span>
			Current Files
		</div>
		<!-- End Small Nav -->
		
		<!-- Message OK -->		
		<div class="msg msg-ok">
			<p><strong>Your file was uploaded succesifully!</strong></p>
			<a href="#" class="close">close</a>
		</div>
		<!-- End Message OK -->		
		
		<!-- Message Error -->
		<div class="msg msg-error">
			<p><strong>You must select a file to upload first!</strong></p>
			<a href="#" class="close">close</a>
		</div>
		<!-- End Message Error -->
		<br />
		<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2 class="left">Current Router Files</h2>
						<div class="right">
							<label>search routers</label>
							<input type="text" class="field small-field" />
							<input type="submit" class="button" value="search" />
						</div>
					</div>
					<!-- End Box Head -->	
                    <form action="/rule_generate/" method="post" >
                    <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">

					<!-- Table -->
					<div class="table">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr class="odd">
								<th width="13"><input type="checkbox" class="checkbox" /></th>
								<th>FileName</th>
								<th>FileDate</th>
								<th>FileType</th>
								<th width="110" class="ac">Last Edit By</th>
							</tr>
                            {%for eachlist1 in TheTopList%}
							<tr>
								<td><input on="bb()" type="checkbox" class="checkbox" name="strName" id="{{ eachlist1.filename }}" checked={{ eachlist1.check }}/></td>
                                <td><input type="hidden"  name="FileName" value="{{ eachlist1.filename }}"/>
								<h3>{{ eachlist1.filename }}</h3></td>
								<td>{{ eachlist1.filedate }}</td>
								<td>{{ eachlist1.filetype }}</td>
								<td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
							</tr>
                            {%endfor%}
							<tr class="odd">
								<td><input type="hidden" class="checkbox" /></td>
								<td><h3><a href="#">welcome to this system!</a></h3></td>
								<td>2015-07-22</td>
								<td><a href="#"></a></td>
                                <td><a href="#">Administrator</a></td>

							</tr>
						</table>
						
						
						<!-- Pagging -->
						<div class="pagging">
							<div class="left">Showing 1-{{ DataGridPageSize }} of {{ lengthofmylist }}</div>
							<div class="right">
                            {%  if PreviousPage > 0 %}
								<a href="{% url 'file_show' PreviousPage %}">Previous</a>
                            {% endif %}
                                {% for t in PagesList%}
								<a href="{% url 'file_show' t  %}">{{ t }}</a>

                                {% endfor %}
								<span>...</span>
                                {% if NextPage <= Pages%}
								<a href="{% url 'file_show' NextPage %}">Next</a>
                                {% endif %}

								<a href="#">View all</a>
                                {% if NextPage > 0%}
                                <span>  </span>
                                <input type="submit" onclick="aa()" class="button" value="Generate Rules">{% csrf_token %}
                                {% endif %}
							</div>
						</div>
						<!-- End Pagging -->
						
					</div>
					<!-- Table -->
					</form>
				</div>
				<!-- End Box -->
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2>Rule Display</h2>
					</div>
					<!-- End Box Head -->
					
					<form action="" method="post">
						
						<!-- Form -->
						<div class="form">


								
								<p>
									<span class="req">max 100 symbols</span>
									<label>Rule List<span>(Required Field)</span></label>
            <table width="100%" height="100%" border="1" align="center" cellpadding="0" cellspacing="0" class="field size1" >
<tr><td width="200" height="50" align="left" valign="top"><div id="Layer1">
{%for each in RulesList %}{{ each }}<br><br>{% endfor %}

    </div></td></tr>


</table>


								</p>	
							
						</div>
						<!-- End Form -->
						
						<!-- Form Buttons -->
						<div class="buttons">
							<input type="button" class="button" value="save" />
							<input type="submit" class="button" value="detect" />
						</div>
						<!-- End Form Buttons -->
					</form>
				</div>
				<!-- End Box -->

			</div>
			<!-- End Content -->
			
			<!-- Sidebar -->
			<div id="sidebar">
				
				<!-- Box -->
				<div class="box">
					
					<!-- Box Head -->
					<div class="box-head">
						<h2>Management</h2>
					</div>
					<!-- End Box Head-->
					
					<div class="box-content">
						<a href="#" class="add-button"><span>Add new </span></a>
						<div class="cl">&nbsp;</div>
						
						<p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
						<p><a href="#">Delete Selected</a></p>
						
						<!-- Sort -->
						<div class="sort">
							<label>Sort by</label>
							<select class="field">
								<option value="">RouterName</option>
							</select>
							<select class="field">
								<option value="">Date</option>
							</select>
							<select class="field">
								<option value="">RouterType</option>
							</select>
						</div>
						<!-- End Sort -->
						
					</div>
				</div>
				<!-- End Box -->
			</div>
			<!-- End Sidebar -->
			
			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
		<span class="left">&copy; 2015 - Django Framwork For HuaWei Configuration</span>
		<span class="right">
			Design by <a href="http://www.mycodes.net" target="_blank" title="The Sweetest CSS Templates WorldWide">City University of Hong Kong</a>
		</span>
	</div>
</div>
<!-- End Footer -->
<style type="text/css">
<!--
#Layer1 {
	position:static;
	width:720px;
	height:500px;
	z-index:1;
	overflow-x:scroll;
	overflow-y:scroll
}
-->
</style>

</body>
</html>