<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Typography | BlueWhale Admin</title>
    	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />

    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="/static/css/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/static/css/ie.css" media="screen" /><![endif]-->
    <link href="/static/css/table/demo_page.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN: load jquery -->
    <script src="/static/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/jquery-ui/jquery.ui.core.min.js"></script>
    <script src="/static/js/jquery-ui/jquery.ui.widget.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.ui.accordion.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.effects.core.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.effects.slide.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.ui.mouse.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui/jquery.ui.sortable.min.js" type="text/javascript"></script>
    <script src="/static/js/table/jquery.dataTables.min.js" type="text/javascript"></script>
    <!-- END: load jquery -->
    <script type="text/javascript" src="/static/js/table/table.js"></script>
    <script src="/static/js/setup.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            setupLeftMenu();

            $('.datatable').dataTable();
			setSidebarHeight();


        });
    </script>
</head>
<body>
    <div class="container_12">
        <div class="grid_12 header-repeat">
            <div id="branding">
                <div class="floatleft">
                    <img src="/static/img/logo.png" alt="Logo" /></div>
                <div class="floatright">
                    <div class="floatleft">
                        <img src="/static/img/img-profile.jpg" alt="Profile Pic" /></div>
                    <div class="floatleft marginleft10">
                        <ul class="inline-ul floatleft">
                            <li>Hello Admin</li>
                            <li><a href="#">Config</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                        <br />
                        <span class="small grey">Last Login: 3 hours ago</span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="grid_12">
            <ul class="nav main">
                <li class="ic-dashboard"><a href="{% url 'JumpToIndex' %}"><span>Index</span></a> </li>
                <li class="ic-form-style"><a href="javascript:"><span>File Management</span></a>
                    <ul>
                        <li><a href="{% url 'file_show' '1' %}">Show Files</a> </li>
                        <li><a href="buttons.html">Add Files</a> </li>
                        <li><a href="form-controls.html">Full Page Example</a> </li>
                        <li><a href="table.html">Page with Sidebar Example</a> </li>
                    </ul>
                </li>
				<li class="ic-typography"><a href="typography.html"><span>Typography</span></a></li>
                <li class="ic-charts"><a href="charts.html"><span>Charts & Graphs</span></a></li>
                <li class="ic-grid-tables"><a href="table.html"><span>Data Table</span></a></li>
                <li class="ic-gallery dd"><a href="javascript:"><span>Image Galleries</span></a>
               		 <ul>
                        <li><a href="image-gallery.html">Pretty Photo</a> </li>
                        <li><a href="gallery-with-filter.html">Gallery with Filter</a> </li>
                    </ul>
                </li>
                <li class="ic-notifications"><a href="notifications.html"><span>Notifications</span></a></li>

            </ul>
        </div>
        <div class="clear">

        </div>



        <div class="grid_2">
            <div class="box sidemenu">
                <div class="block" id="section-menu">
                    <ul class="section menu">

                                                  <form action="{% url 'rule_generate' %}" method="post" >



                       <li><a class="menuitem">Other Algorithm Input</a>
                            <ul class="submenu">
                                 <li class="right">Input:  <input type="text"  class="warning" name="strPattern" value="" size="15" ></li>

                            </ul>
                        </li>

                        <li><a class="menuitem" >Association Rules Input</a>
                            <ul class="submenu">

                                 <li class="right">Pattern:<input type="text"  class="success" name="strPattern" value="input patterns" size="20" ></li>
                                 <li class="right">MinSupp:<input type="text"  class="success" name="paraMinSupp" value="0.7"  ></li>
                                 <li class="right">MinCond:<input type="text"  class="success" name="paraMinCond" value="0.8"  ></li>
                                 <li class="right">MinLift:<input type="text"  class="success" name="paraMinLift" value="0.01"  ></li>
                                 <li class="right">MinKulc:<input type="text"  class="success" name="paraMinKulc" value="0.01"  ></li>
                                 <li class="left">ThreshIR:<input type="text"  class="success" name="paraThreshIR" value="100" size="6" ></li>
                                 <li class="right"><input type="submit"  class=""  size="5" value="Compute"  ></li>

                            </ul>
                        </li>
                        <li><a class="menuitem">Bayes Detection</a>
                            <ul class="submenu">
                                 <li class="left">Thresh:<input type="text"  class="success" name="paraMinSupp" value="0.7"  size="6"></li>
<li class="right"><input type="submit"  class=""  size="5" value="Compute"  ></li>
                            </ul>
                        </li>
</form>

                    </ul>



                </div>
            </div>
        </div>
        <div class="grid_10">
            <div class="box round first grid">
                <h2>


                <div class="block">

                 <form action="{% url 'file_show' '1' %}" method="post" >
					<div >


							<label>Filter router files</label>
                            <div class="right">
							<input type="text" name="FilterName" class="field small-field" value="Filename" />
                            <input type="text" name="FilterDate" class="field small-field" value="Y/Y-M/Y-M-D"/>
                            <input type="text" name="FilterType" class="field small-field" value=".suffix"/>
							<input type="submit" value="filter" /></div>


					</div>
                </form></div></h2>
                    
                    
                    <!--<form action="{% url 'rule_generate' %}" method="post" >-->
                    <table class="data display datatable" id="example">
					<thead>
						<tr class="odd">
								<th >FileName</th>


                               <th class="center">FileDate</th>
								<th >FileType</th>
                            <th >Operation</th>

								<th  class="ac">Last Edit By</th>
						</tr>
					</thead>
                    <tbody>

					        {%for eachlist1 in TheTopList%}
							<tr class="odd gradeX">
								<!--<td><input onclick="bb()" type="checkbox"  name="strName" id="{{ eachlist1.filename }}" /></td> -->
                                <td>{{ eachlist1.filename }}</td>
								<td>{{ eachlist1.filedate }}</td>
								<td>{{ eachlist1.filetype }}</td>
                                <td>
                                <form action="{% url 'file_delete' CurrentPage %}" method="post">
								<input type="hidden"  name="FileNameToDelete" value="{{ eachlist1.filename }}"/>
                                    <input type="hidden"  name="FileCheckToDelete" checked="{{ eachlist1.check }}"/>
                                    <input type="submit" name="deletedfile" class="ico del" value="Delete">
                                </form>
                                </td>
                            <td><a href="#" class="ico edit" >Edit</a></td>

                            </tr>
                            {%endfor%}




                            </tbody>
						</table>



						<!-- Pagging -->
						<div class="pagging">
							<div class="right" style="color: red ;font-size-adjust: 20px"> The total item is {{ lengthofmylist }},the current page is {{ CurrentPage }}</div>
							<div class="right">
                            {%  if PreviousPage > 0 %}
								<a href="{% url 'file_show' PreviousPage %}">Previous</a>
                            {% endif %}
                                {% for t in PagesList%}
								<a href="{% url 'file_show' t  %}">{{ t }}</a>

                                {% endfor %}
								<span>...</span>
                                {% if NextPage <= Pages%}
								<a href="{% url 'file_show' NextPage %}">Next</a>
                                {% endif %}

								<a href="#">View all</a>
                                <span>  </span>
                            {% if NextPage > 0%}
                                <!--<div class="right"><span>  </span><input type="submit" onclick="aa()"  value="Generate Rules"></div>-->
                                {% endif %}


							</div>
                        </div>


                    

            </div>
        </div>
                <div class="clear"></div>
    </div>
                <div class="clear"></div>


    <div id="site_info">
        <p>
            Copyright <a href="#">BlueWhale Admin</a>. All Rights Reserved.
        </p>
    </div>


</body>
</html>
